$dark-text: hsl(229, 25%, 31%);
$score-text: hsl(229, 64%, 46%);
$header-outline: hsl(217, 16%, 45%);

// background light -> dark
$background-linear-dark: hsl(237, 49%, 15%);
$background-linear-light: hsl(214, 47%, 23%);

// scissors gradient dark -> light
$scissors-linear-dark :hsl(39, 89%, 49%);
$scissors-linear-light: hsl(40, 84%, 53%);

// paper gradient light -> dark
$paper-linear-light: hsl(230, 89%, 62%);
$paper-linear-dark: hsl(230, 89%, 65%);

// rock gradient dark -> light
$rock-gradient-dark: hsl(349, 71%, 52%);
$rock-gradient-light: hsl(349, 70%, 56%);
