<div class="container">
  <div [routerLink]="['paper']" class="option paper">
    <div class="image">
      <img class="img" src="./assets/images/icon-paper.svg" alt="paper-icon" />
    </div>
  </div>
  <div [routerLink]="['scissors']" class="option scissors">
    <div class="image">
      <img
        class="img"
        src="./assets/images/icon-scissors.svg"
        alt="scissor-icon"
      />
    </div>
  </div>
  <div [routerLink]="['rock']" class="option rock">
    <div class="image">
      <img class="img" src="./assets/images/icon-rock.svg" alt="rock-icon" />
    </div>
  </div>
</div>
