<div class="container">
  <div  class="pick my-pick" [ngSwitch]="myPick">
    <div [ngClass]="winGame ? 'winner': ''" *ngSwitchCase="'paper'" class="option paper">
      <div class="image">
        <img class="img" src="assets/images/icon-paper.svg" alt="paper-icon" />
      </div>
    </div>
    <div [ngClass]="winGame ? 'winner': ''" *ngSwitchCase="'scissors'" class="option scissors">
      <div class="image">
        <img
          class="img"
          src="./assets/images/icon-scissors.svg"
          alt="scissor-icon"
        />
      </div>
    </div>
    <div [ngClass]="winGame ? 'winner': ''" *ngSwitchCase="'rock'" class="option rock">
      <div class="image">
        <img class="img" src="./assets/images/icon-rock.svg" alt="rock-icon" />
      </div>
    </div>
    <p class="my-name">You picked</p>
  </div>
  <div class="pick opponent-pick" [ngSwitch]="opponentPick">
    <div *ngSwitchCase="'paper'" class="option paper">
      <div class="image">
        <img class="img" src="assets/images/icon-paper.svg" alt="paper-icon" />
      </div>
    </div>
    <div *ngSwitchCase="'scissors'" class="option scissors">
      <div class="image">
        <img
          class="img"
          src="./assets/images/icon-scissors.svg"
          alt="scissor-icon"
        />
      </div>
    </div>
    <div *ngSwitchCase="'rock'" class="option rock">
      <div class="image">
        <img class="img" src="./assets/images/icon-rock.svg" alt="rock-icon" />
      </div>
    </div>
    <p class="opponent-name">The opponent picked</p>
  </div>
</div>
<div class="result" *ngIf="loseGame || winGame">
  <div>
    <p class="result-title">
      {{ loseGame ? "YOU LOSE" : "YOU WIN" }}
    </p>
  </div>
  <div class="button">
    <button class="btn" (click)="navigate()">PLAY AGAIN</button>
  </div>
</div>
<div
  class="status"
  *ngIf="(showMatchWinMessage || showDrawMessage || showMatchLoseMessage) && !winGame && !loseGame"
>
  <p *ngIf="showMatchWinMessage">Win!</p>
  <p *ngIf="showDrawMessage">Draw!</p>
  <p *ngIf="showMatchLoseMessage">Lose!</p>
</div>
