@import "src/styles/abstract/variables";
@import "src/styles/abstract/animations";
@import "src/styles/abstract/mixins";


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem;
  margin-top: 3rem;
  position: relative;
  z-index: 10;
  gap: 1rem;

  @media (min-width: 400px) {
    gap: 4rem;
  }


  .pick {
    text-align: center;

    @media (max-width: 360px) {
      margin-top: 3rem;
    }

    p {
      text-transform: uppercase;
      color: white;
      font-size: 2rem;
      margin-top: 2rem;
    }

    .paper {
      position: relative;

      @include scaleAfter {
        background: linear-gradient(
          to bottom,
          $paper-linear-dark,
          $paper-linear-light
        );
      }
      @include scaleOption;
    }

    .scissors {
      position: relative;
      @include scaleAfter {
        background: linear-gradient(
          to bottom,
          $scissors-linear-light,
          $scissors-linear-dark
        );
      }
      @include scaleOption;
    }

    .rock {
      position: relative;
      @include scaleAfter {
        background: linear-gradient(
          to bottom,
          $rock-gradient-light,
          $rock-gradient-dark
        );
      }

      @include scaleOption;
    }
  }
}

.result {
  width: 65%;
  margin: 4rem auto;
  text-align: center;

  div {
    width: 100%;

    p {
      font-size: 6rem;
      text-align: center;
      color: white;
      margin-bottom: 1rem;

      @media (max-width: 400px) {
        font-size: 3rem;
      }
    }

    .btn {
      width: 100%;
      padding: 1.5rem;
      color: $dark-text;
      border-radius: 5px;
      outline: none;
      border: 1px solid transparent;

      max-width: 250px;
      margin: auto;

      transition: all 0.4s;

      &:hover {
        color: white;
        border: 1px solid white;
        background: transparent;
        cursor: pointer;
      }
    }
  }
}

.status {
  text-align: center;
  margin-top: 2rem;

  p {
    color: white;
    text-transform: uppercase;
    font-size: 3rem;
  }
}
